<%= search_form_for @q, url: search_rooms_path, class: "d-flex w-50 mx-auto py-4" do |f| %>
  <%= f.search_field :address_cont, placeholder:"エリア名を入力", class: "form-control" %>
  <%= f.search_field :name_or_content_cont, placeholder:"キーワードを入力", class: "form-control mx-2" %>
  <%= f.submit '検索', class:"btn btn-primary" %>
<% end %>

<p class="my-2"><span class="h4"><%= @results.count %></span>件が見つかりました</p>

<div class="table-responsive">
  <table class="table align-middle text-break">
    <thead>
      <tr>
        <th scope="col" style="width:10%">画像</th>
        <th scope="col" style="width:10%">施設名</th>
        <th scope="col" style="width:20%">住所</th>
        <th scope="col" style="width:40%">紹介文</th>
        <th scope="col" style="width:20%">宿泊料金(/日)</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |room| %>
        <tr>
          <td><%= image_tag room.image, size: '100x100' %></td>
          <td><%= link_to "#{room.name}", room, class:"text-decoration-none" %></td>
          <td><%= room.address %></td>
          <td><%= room.content %></td>
          <td><%= room.price.to_s(:delimited) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
