<p id="notice"><%= notice %></p>

<p>
  <strong>画像:</strong>
  <%= image_tag @room.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @room.content %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Address:</strong>
  <%= @room.address %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
